\.DS_Store
\.vagrant
\.idea
composer.phar
phorever.pid
php_errors.log
*.pyc
phorever.sh
*.csv

/bin/phorever
/bin/bs
/bin/phpunit
/bin/phpmd
/bin/pdepend
/bin/phploc
/bin/phinx

/config/parameters.yml

/node_modules

/tests/parameters.yml

/tmp/*

/var/log/*
/var/cache/*

/vendor/*
